In [1]:
import pandas
import pickle
properties_df = pickle.load(open('properties_df.pickle', 'rb'))

In [2]:
properties_df

,price,is_house,subtype_property,area,num_rooms,postal_code,region,garden,garden_area,terrace,terrace_area,num_facades,building_state,equipped_kitchen,furnished,open_fire,swimming_pool,land_area
immoweb_id,,,,,,,,,,,,,,,,,,
9074272,219000.0,0.0,PENTHOUSE,90.0,2.0,8930.0,F,0.0,NaN,1.0,110.0,3.0,good,1.0,0.0,0.0,0.0,NaN
9063818,754500.0,0.0,PENTHOUSE,159.0,2.0,1200.0,B,0.0,NaN,1.0,74.0,NaN,new,1.0,0.0,0.0,0.0,NaN
9066369,385000.0,0.0,PENTHOUSE,128.0,2.0,1180.0,B,0.0,NaN,1.0,18.0,2.0,new,1.0,0.0,0.0,0.0,NaN
9071922,227500.0,0.0,DUPLEX,90.0,2.0,1785.0,F,0.0,NaN,1.0,5.0,2.0,good,1.0,0.0,0.0,0.0,NaN
9059600,615000.0,0.0,PENTHOUSE,169.0,3.0,1200.0,B,0.0,NaN,1.0,86.0,NaN,new,1.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9045748,179000.0,0.0,GROUND_FLOOR,NaN,1.0,8400.0,F,0.0,NaN,0.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN
8923833,199000.0,0.0,DUPLEX,120.0,2.0,1080.0,B,1.0,30.0,1.0,9.0,2.0,to_renovate,NaN,0.0,0.0,0.0,NaN
8925238,209000.0,0.0,LOFT,NaN,0.0,7700.0,W,0.0,NaN,0.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN
9011161,219000.0,0.0,KOT,NaN,2.0,2800.0,F,0.0,NaN,0.0,NaN,2.0,None,NaN,0.0,0.0,0.0,NaN
9010561,229000.0,0.0,DUPLEX,100.0,2.0,3680.0,F,0.0,NaN,1.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN

In [3]:
properties_df['immoweb_id'] = properties_df.index

In [4]:
properties_df

,price,is_house,subtype_property,area,num_rooms,postal_code,region,garden,garden_area,terrace,terrace_area,num_facades,building_state,equipped_kitchen,furnished,open_fire,swimming_pool,land_area,immoweb_id
immoweb_id,,,,,,,,,,,,,,,,,,,
9074272,219000.0,0.0,PENTHOUSE,90.0,2.0,8930.0,F,0.0,NaN,1.0,110.0,3.0,good,1.0,0.0,0.0,0.0,NaN,9074272
9063818,754500.0,0.0,PENTHOUSE,159.0,2.0,1200.0,B,0.0,NaN,1.0,74.0,NaN,new,1.0,0.0,0.0,0.0,NaN,9063818
9066369,385000.0,0.0,PENTHOUSE,128.0,2.0,1180.0,B,0.0,NaN,1.0,18.0,2.0,new,1.0,0.0,0.0,0.0,NaN,9066369
9071922,227500.0,0.0,DUPLEX,90.0,2.0,1785.0,F,0.0,NaN,1.0,5.0,2.0,good,1.0,0.0,0.0,0.0,NaN,9071922
9059600,615000.0,0.0,PENTHOUSE,169.0,3.0,1200.0,B,0.0,NaN,1.0,86.0,NaN,new,1.0,0.0,0.0,0.0,NaN,9059600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9045748,179000.0,0.0,GROUND_FLOOR,NaN,1.0,8400.0,F,0.0,NaN,0.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN,9045748
8923833,199000.0,0.0,DUPLEX,120.0,2.0,1080.0,B,1.0,30.0,1.0,9.0,2.0,to_renovate,NaN,0.0,0.0,0.0,NaN,8923833
8925238,209000.0,0.0,LOFT,NaN,0.0,7700.0,W,0.0,NaN,0.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN,8925238
9011161,219000.0,0.0,KOT,NaN,2.0,2800.0,F,0.0,NaN,0.0,NaN,2.0,None,NaN,0.0,0.0,0.0,NaN,9011161
9010561,229000.0,0.0,DUPLEX,100.0,2.0,3680.0,F,0.0,NaN,1.0,NaN,NaN,None,NaN,0.0,0.0,0.0,NaN,9010561

In [ ]:
client = MongoClient('localhost', 27017)

db = client.estate

estate = db.estate

data_db = estate.find()
print(data_db[:11])